*{
  /* 全体の表示 */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  /* ヘッダーのフォントサイズ */
  font-size: 45px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header{
  /* headerの文字の位置調整 */
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background-color: rgba(8, 231, 243, 0.355);
}

.app{
  /* 画像の設定 */
  background: url(../src/images/mountain.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}